<!-- Default inicio -->

<div>
    <ul>
        <li ng-repeat="post in posts">
            <h2>Observaciones: {{post.observaciones}}</h2><br />
            <p>Fecha de finalizacion: {{post.fechaFin}}</p>
        </li>
    </ul>
</div>
